@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'base/_variables';
@import 'base/_mixins';

html {
  margin: 0;
}

body {
  background-image: url("../img/pool.jpg");
  margin: 0;
  font-family: 'Inconsolata', ;
      @include fill-parent;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  @include outer-container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

a {
  @include links($color-title, $color-hover);
}

i {
  @extend %fixed-bar;
  top: 10px;
  left: 10px;
}



img {
  justify-content: center;
  margin: 30px 5px;
  max-height: 490px;
  max-width: 6800px;
}

footer {
  left: 75%;
  color: $color-title;
  @extend %fixed-bar;
  bottom: 3px;

}
